doctype html
html(lang="pt-br")
	include ./includes/head.jade
	

	body
		//- // HEADER
		include ./includes/header.jade
		
		.breadcrumbs
			.gridD
				a(href="#") Home <i class="fa fa-chevron-right" aria-hidden="true"></i>
				a(href="#") Doença <i class="fa fa-chevron-right" aria-hidden="true"></i>
				a(href="#") Tratamento
			.clearfix
		section
			.tratamento
				.gridD
					.title-page
						h2 <span>Tratamento de </span>Formação
						.line-gray
					.left
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim uat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud extempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim uat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu et dolore magna aliqua. Ut enim ad minim veniam, quis nostrtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim uat.

						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu et dolore m, quis nostrercitation ullamco laboris nisi et dolore magna aliqua. Ut t dolore m, quis nostrercitation ullamco laboris nisi et dolore magna aliqua. Ut t dolore m, quis nostrercitation ullamco laboris nisi et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisir.
						.clearfix
						.cta
							a(href="#") pergunte aos especialistas

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim uat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud extempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim uat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu et dolore magna aliqua. Ut enim ad minim veniam, quis nostrtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim uat.

						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu et dolore m, quis nostrercitation ullamco laboris nisi et dolore magna aliqua. Ut t dolore m, quis nostrercitation ullamco laboris nisi et dolore magna aliqua. Ut t dolore m, quis nostrercitation ullamco laboris nisi et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisir.

					.right
						.more-informations
							form
								legend <span>mais informações</span> <br> do tratamento?
								p Quer saber o preço e outras informações sobre este tratamento? Nós queremos ser parte dessa solução e tornar SEU SONHO uma realidade.
								input(type="text", placeholder="Seu nome")
								input(type="text", placeholder="Seu Email")
								select
									option(value="Selecione o Motivo do Contato") Selecione o Motivo do Contato
								textarea(placeholder="Sua Mensagem...")
								button(type="submit") enviar
						.clearfix
						.related-posts
							h2 Assuntos relacionados
							p Tative, techntesting, excellent service and automation in a way that is innovative, technology driven and unique.
							a(href="#")
								h4 TRATAMENTO CLÍNICO para endometriose
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aut, omnis blanditiis tenetur numquam quibusdam.
							a(href="#")
								h4 TRATAMENTO CLÍNICO para endometriose
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aut, omnis blanditiis tenetur numquam quibusdam.
							a(href="#")
								h4 TRATAMENTO CLÍNICO para endometriose
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi aut, omnis blanditiis tenetur numquam quibusdam.
				.clearfix
		section
			.accordion-sec
				.gridD
					h2 PRINCIPAIS DÚVIDAS <span>SOBRE ENDOMETRIOSE</span>
					.border
					.left
						.accord
							.accordion
								.accordion-section
									<a class="accordion-section-title" href="#accordion-1">Lorem ipsum dolor amet consectetur ? <span class="icon"></span></a>
									#accordion-1.accordion-section-content
										p Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula.
										p Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.
								.accordion-section
									<a class="accordion-section-title" href="#accordion-2">Lorem ipsum dolor sit amet consectetur ? <span class="icon"></span></a>
									#accordion-2.accordion-section-content
										p Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula.
										p Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.
								.accordion-section
									<a class="accordion-section-title" href="#accordion-3">Lorem ipsum dolor sit? <span class="icon"></span></a>
									#accordion-3.accordion-section-content
										p Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula.
										p Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.
					.right
						img(src="assets/img/photo-cirurgia.png", alt="")
				.clearfix
		section.pattern-blue
			.gridD
				.topic-five
					.left-topic
						h2 <span>baixe nosso</span> e-book
						p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					.right-topic
						a(href="#") baixar
			.clearfix
		section.bg-form-home
			.gridD
				.topic-six
					.left-topic
						h3 agendamento de consulta
						h2 queremos ser parte da sua felicidade
						p A disponibilidade da consulta na data e hora solicitada, deverá ser confirmada por nossos atendentes de acordo com as disponibilidades. Amet, consectetur, adipisci velit, sed quia non numquam eius m.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						form
							.input6-12
								input(type="text", placeholder="*Seu Nome Completo")
							.input6-12
								input(type="text", placeholder="*Telefone / Celular")
							.input6-12
								.input5-12
									select()
										option(selected="selected") Idade
										option(value="18") 18
								.input7-12
									select()
										option(selected="selected") Sexo
										option(value="Masculino") Masculino
										option(value="Feminino") Feminino
							.input6-12
								input(type="text", placeholder="*Seu E-mail")
							.input6-12
								.input7-12
									label Data
									select()
										option(selected="selected") 24/05/2017
										option(value="24/05/2017") 24/05/2017
								.input5-12
									label Horário
									select()
										option(selected="selected") 18:00
										option(value="18:00") 18:00
							.input6-12
								label Informe o Tratamento
								select()
									option(selected="selected") Endometriose
									option(value="Endometriose") Endometriose
							.input12-12
								textarea(placeholder="Gostaria de acrescentar alguma informação ou dúvida?...")
							button(type="submit") Enviar dados
			.clearfix
		//- // FOOTER
		include ./includes/footer.jade

		// INCLUDE JS
		include ./includes/foot.jade
