doctype html
html(lang="pt-br")
	include ./includes/head.jade
	

	body
		//- // HEADER
		include ./includes/header.jade
		
		.breadcrumbs
			.gridD
				a(href="#") Home <i class="fa fa-chevron-right" aria-hidden="true"></i>
				a(href="#") Cirurgiões <i class="fa fa-chevron-right" aria-hidden="true"></i>
				a(href="#") Dr. Renato Tomioka
			.clearfix
		section
			.doctor-desc
				.gridD
					.left
						img(src="assets/img/doctor.png", alt="")
						.bar-divisor
					.right
						h2 <span>DR</span>. RENATO TOMIOKA
						p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						h5 Subtítulo
						p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				.clearfix
		section
			.especialidades
				.gridD
					.left
						h2 <span>especialidades </span> 
						h3 atuantes
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
					.right
						ul
							li
								a(href="#") Infertilidade Masculina
							li
								a(href="#") Vitaminas e Fertilidade
							li
								a(href="#") Drogas e Infertilidade
							li
								a(href="#") Obesidade e Infertilidade
							li
								a(href="#") Cigarro e Fertilidade
							li
								a(href="#") Varicocele
							li
								a(href="#") Azoospermia
							li
								a(href="#") Técnicas de Captação de Espermatozóides
							li
								a(href="#") Biópsia Testicular
							li
								a(href="#") Highlights
						ul
							li
								a(href="#") Infertilidade Masculina
							li
								a(href="#") Vitaminas e Fertilidade
							li
								a(href="#") Drogas e Infertilidade
							li
								a(href="#") Obesidade e Infertilidade
							li
								a(href="#") Cigarro e Fertilidade
							li
								a(href="#") Varicocele
							li
								a(href="#") Azoospermia
							li
								a(href="#") Técnicas de Captação de Espermatozóides
							li
								a(href="#") Biópsia Testicular
							li
								a(href="#") Highlights
				.clearfix
		section
			.formacao
				.gridD
					.left
						h2 <span>CURRÍCULUM E </span><br>Formação
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

						p • 2014 - Formado e pós-graduado pela USP

						p • 2014 - Especialização em Endometriose e Cirurgia Minimamente Invasiva pelo Hospital Sírio-Libanês

						p • 2014 - Médico da equipe de Ginecologia do Hospital Albert Einstein
						p Instrutor do curso de pós-graduação e outros cursos da área de Ginecologia e Obstetrícia no Hospital Albert Einstein

						p • 2015 - Título de Especialista em Ginecologia e Obstetrícia, certificado em Endoscopia Ginecológica (Videolaparoscopia e Histeroscopia) pela FEBRASGO / AMB

						p • 2016 - Prêmio "Melhor Médico Residente" pela Clínica Obstétrica da USP ("Prêmio Prof. Bussâmara Neme - 2010)

						p • 2016 - Membro da Sociedade Brasileira de Endometriose e Ginecologia Minimamente Invasiva (SBE) e da Sociedade Brasileira de Videocirurgia (SOBRACIL)

						p • 2016 - Co-autor de trabalhos científicos publicados na área de Ginecologia e Endometriose

						p • 2016 - Autor de conteúdos na área de Ginecologia para cursos do Instituto de Ensino e Pesquisa do Hospital Albert Einstein
					.right
						img(src="assets/img/logos.png", alt="")
						.bg-detail-gray
						h2 <span>locais de</span> atuação
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
						h5 ALBERT EINSTEIN
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptates ducimus natus delectus, dolorem doloremque?
						h5 SÃO LUIS
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas consectetur suscipit a beatae. 
						h5 SÃO LUIS
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, recusandae.
				.clearfix
		section.bg-form-home
			.gridD
				.topic-six
					.left-topic
						h3 agendamento de consulta
						h2 queremos ser parte da sua felicidade
						p A disponibilidade da consulta na data e hora solicitada, deverá ser confirmada por nossos atendentes de acordo com as disponibilidades. Amet, consectetur, adipisci velit, sed quia non numquam eius m.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						form
							.input6-12
								input(type="text", placeholder="*Seu Nome Completo")
							.input6-12
								input(type="text", placeholder="*Telefone / Celular")
							.input6-12
								.input5-12
									select()
										option(selected="selected") Idade
										option(value="18") 18
								.input7-12
									select()
										option(selected="selected") Sexo
										option(value="Masculino") Masculino
										option(value="Feminino") Feminino
							.input6-12
								input(type="text", placeholder="*Seu E-mail")
							.input6-12
								.input7-12
									label Data
									select()
										option(selected="selected") 24/05/2017
										option(value="24/05/2017") 24/05/2017
								.input5-12
									label Horário
									select()
										option(selected="selected") 18:00
										option(value="18:00") 18:00
							.input6-12
								label Informe o Tratamento
								select()
									option(selected="selected") Endometriose
									option(value="Endometriose") Endometriose
							.input12-12
								textarea(placeholder="Gostaria de acrescentar alguma informação ou dúvida?...")
							button(type="submit") Enviar dados
			.clearfix
		//- // FOOTER
		include ./includes/footer.jade

		// INCLUDE JS
		include ./includes/foot.jade
