script(type="text/javascript", src="assets/js/lib/slick.min.js")
script(type="text/javascript", src="assets/js/min/script.min.js")
//-script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg-R9ZcqjUayH03r5522AvhZfwNp5Mo84&callback=initMap")
//-script(type="text/javascript", src="assets/js/map.js")
