// HEADER
#headerMain
	.gridD
		.top-info
			.logo
				a(href="/", alt="Logo")
					img(src="assets/img/logo.png", alt="Logo Vida Bem vinda")
			.adress-top
				.topic-adress
					.icon-adress
						<i class="fa fa-phone" aria-hidden="true"></i>
					.desc-adress
						//p.title Telefones
						p (11) 2729-8581
						p (11) 2729-8583
				.topic-adress
					.icon-adress
						<i class="fa fa-envelope" aria-hidden="true"></i>
					.desc-adress
						//p.title E-mail
						p contato@3xceler.com.br
			.social-header
				.icon-header
					a(href="#", target="_blank")
						<i class="fa fa-facebook" aria-hidden="true"></i>
				.icon-header
					a(href="#", target="_blank")
						<i class="fa fa-youtube-play" aria-hidden="true"></i>
				.icon-header
					a(href="#", target="_blank")
						<i class="fa fa-google-plus" aria-hidden="true"></i>
				
			.btn-mobile
				<i class="fa fa-bars" aria-hidden="true"></i>
		.clearfix
	.clearfix
	#navMain
		.gridD
			nav
				ul
					li
						a(href="#", title="Home", alt="Home") Home
					li.sub-nav-mobile
						a(href="#", title="Cirurgias", alt="Cirurgias") Cirurgias
						.icon-nav
							<i class="fa fa-plus-circle" aria-hidden="true"></i>
						ul.sub-nav
							li
								a(href="#") Home
							li
								a(href="#") Doenças
							li
								a(href="#") Cirurgias
							li
								a(href="#") Cirurgiões
							li
								a(href="#") Blog
							li
								a(href="#") Instituto
							li
								a(href="#") Certificações
					li
						a(href="#", title="Doenças", alt="Doenças") Doenças
					li
						a(href="#", title="Cirurgiões", alt="Cirurgiões") Cirurgiões
					li
						a(href="#", title="Blog", alt="Blog") Blog
					li
						a(href="#", title="Instituto", alt="Instituto") Instituto
					li
						a(href="#", title="Certificações", alt="Certificações") Certificações
					li.last
						a(href="#", title="Agende", alt="Agende")<i class="fa fa-envelope" aria-hidden="true"></i> Agende
				.btn-close
					<i class="fa fa-times" aria-hidden="true"></i>
		.clearfix
	.clearfix
	.overlay-body
