doctype html
html(lang="pt-br")
	include ./includes/head.jade
	

	body
		//- // HEADER
		include ./includes/header.jade
		
		.slider-main
			.slide
				.gridD
					.description-slide
						h2 Contigência Urinária
						p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, mquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numq
						a(href="#", title="Saiba mais", alt="Saiba mais") Saiba mais
			.slide
				.gridD
					.description-slide
						h2 Contigência Urinária
						p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, mquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numq
						a(href="#", title="Saiba mais", alt="Saiba mais") Saiba mais
		.clearfix
		section
			.gridD
				.topic-one
					ul.topic-tabs
						li.tab-link-topic.current-topic(data-tab-topic="topic-1")
							h2 Principais
							h3 tratamentos
						li.tab-link-topic(data-tab-topic="topic-2")
							h2 Principais
							h3 tratamentos
						li.tab-link-topic(data-tab-topic="topic-3")
							h2 Principais
							h3 tratamentos
						li.tab-link-topic(data-tab-topic="topic-4")
							h2 Principais
							h3 tratamentos
						li.tab-link-topic(data-tab-topic="topic-5")
							h2 Principais
							h3 tratamentos
					.clearfix
					#topic-1.topic-content.current-topic
						.left-topic
							h3 SAIBA TUDO SOBRE
							h2 rEVERSÃO DE LAQUEADURA
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							h5 magnam aliquam quaera
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						.right-topic
							.player
								<iframe src="https://player.vimeo.com/video/202791609" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					#topic-2.topic-content
						.left-topic
							h3 SAIBA TUDO SOBRE
							h2 Fertilização in Vitro / ICSI
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							h5 magnam aliquam quaera
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						.right-topic
							.player
								<iframe src="https://player.vimeo.com/video/202791609" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					#topic-3.topic-content
						.left-topic
							h3 Inseminação Artificial
							h2 Fertilização in Vitro / ICSI
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							h5 magnam aliquam quaera
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						.right-topic
							.player
								<iframe src="https://player.vimeo.com/video/202791609" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					#topic-4.topic-content
						.left-topic
							h3 Doação de óvulos
							h2 Fertilização in Vitro / ICSI
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							h5 magnam aliquam quaera
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						.right-topic
							.player
								<iframe src="https://player.vimeo.com/video/202791609" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					#topic-5.topic-content
						.left-topic
							h3 Inseminação Artificial
							h2 Fertilização in Vitro / ICSI
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							h5 magnam aliquam quaera
							p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						.right-topic
							.player
								<iframe src="https://player.vimeo.com/video/202791609" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			.clearfix
		section
			.gridD
				.topic-two
					.tabs-images
						ul.tabs
							li.tab-link.tab-1(data-tab="tab-1")
								img(src="assets/img/person-1.png", alt="")
							li.tab-link.tab-2.current(data-tab="tab-2")
								img(src="assets/img/person-2.png", alt="")
							li.tab-link.tab-3(data-tab="tab-3")
								img(src="assets/img/person-3.png", alt="")
						.tabs-content
							#tab-1.tab-content
								h3 Nossos especialistas
								h2 Dr. Marcos Vaz
								p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								h5 magnam aliquam quaera
								p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							#tab-2.tab-content.current
								h3 Nossos especialistas
								h2 Dra. Marcela Vaz
								p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								h5 magnam aliquam quaera
								p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
							#tab-3.tab-content
								h3 Nossos especialistas
								h2 Dr. Marcio Vaz
								p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								h5 magnam aliquam quaera
								p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						.bar-divisor
			.clearfix
		section
			.gridD
				.topic-three
					.title-at
						h2 Locais de atuação
				.arrows-slider
					.prev-slide
					.next-slide
			.clearfix				
			.slider-at
				.item
					img(src="assets/img/at-1.png", alt="")
				.item
					img(src="assets/img/at-2.png", alt="")
				.item
					img(src="assets/img/at-3.png", alt="")
				.item
					img(src="assets/img/at-1.png", alt="")
				.item
					img(src="assets/img/at-2.png", alt="")
				.item
					img(src="assets/img/at-3.png", alt="")
				.item
					img(src="assets/img/at-1.png", alt="")
				.item
					img(src="assets/img/at-2.png", alt="")
				.item
					img(src="assets/img/at-3.png", alt="")
				.item
					img(src="assets/img/at-1.png", alt="")
				.item
					img(src="assets/img/at-2.png", alt="")
				.item
					img(src="assets/img/at-3.png", alt="")
			.clearfix
		section
			.gridD
				.topic-four
					.left-topic
						img(src="assets/img/left-thumb-woman.png", alt="")
					.right-topic
						h3 PRINCIPAIS DÚVIDAS
						h2 endometriose e dificuldade para engravidar
						p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						h5 magnam aliquam quaera
						p Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi te quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
			.clearfix
		section.pattern-blue
			.gridD
				.topic-five
					.left-topic
						h2 <span>baixe nosso</span> e-book
						p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					.right-topic
						a(href="#") baixar
			.clearfix
		section.bg-form-home
			.gridD
				.topic-six
					.left-topic
						h3 agendamento de consulta
						h2 queremos ser parte da sua felicidade
						p A disponibilidade da consulta na data e hora solicitada, deverá ser confirmada por nossos atendentes de acordo com as disponibilidades. Amet, consectetur, adipisci velit, sed quia non numquam eius m.mpora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						form
							.input6-12
								input(type="text", placeholder="*Seu Nome Completo")
							.input6-12
								input(type="text", placeholder="*Telefone / Celular")
							.input6-12
								.input5-12
									select()
										option(selected="selected") Idade
										option(value="18") 18
								.input7-12
									select()
										option(selected="selected") Sexo
										option(value="Masculino") Masculino
										option(value="Feminino") Feminino
							.input6-12
								input(type="text", placeholder="*Seu E-mail")
							.input6-12
								.input7-12
									label Data
									select()
										option(selected="selected") 24/05/2017
										option(value="24/05/2017") 24/05/2017
								.input5-12
									label Horário
									select()
										option(selected="selected") 18:00
										option(value="18:00") 18:00
							.input6-12
								label Informe o Tratamento
								select()
									option(selected="selected") Endometriose
									option(value="Endometriose") Endometriose
							.input12-12
								textarea(placeholder="Gostaria de acrescentar alguma informação ou dúvida?...")
							button(type="submit") Enviar dados
			.clearfix
		//- // FOOTER
		include ./includes/footer.jade

		// INCLUDE JS
		include ./includes/foot.jade
