// FOOTER
section
	.gridD
		.topic-seven
			.title-newsletter
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				h2 Nossa  Newsletter
			.form-newsletter
				form
					input(type="text", placeholder="Acrescente seu e-mail")
					button(type="submit") Cadastrar
		.clearfix
	.clearfix
section
	.gridD
		.topic-eight
			.item
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				p (11) 2729-8581<br>(11) 2729-8583
			.item
				<i class="fa fa-paper-plane" aria-hidden="true"></i>
				p Rua Turiassu, 127, Conjunto 13 <br> Perdizes 03182040 <br> São Paulo / SP
			.item
				<i class="fa fa-envelope-square" aria-hidden="true"></i>
				p atendimento@vidabemvinda.com.br
		.clearfix
	.clearfix
footer
	.gridD
		.topic-footer
			.logo-footer
				img(src="assets/img/logo-footer.png", alt="")
			.desc-footer
				p The graphic below provides best of framework for capturing the key, high-level elements of the Biomed+ strategic plan: mission, vision, and values. 
			.social-footer
				a(href="#", target="_blank")
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
				a(href="#", target="_blank")
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				a(href="#", target="_blank")
					<i class="fa fa-linkedin-square" aria-hidden="true"></i>
				a(href="#", target="_blank")
					<i class="fa fa-google-plus" aria-hidden="true"></i>
		.nav-footer-four
			h2 TRATAMENTOS
			ul
				li.first
					a(href="#") Medicamentosos
				li
					a(href="#") Fertilização in Vitro / ICSI
				li
					a(href="#") Inseminação Artificial
				li
					a(href="#") Relação Sexual Programada
				li
					a(href="#") Transferência de embrião 
				li
					a(href="#") Doação de óvulos
			ul
				li.first
					a(href="#") cirurgicos
				li
					a(href="#") Fertilização in Vitro / ICSI
				li
					a(href="#") Inseminação Artificial
				li
					a(href="#") Relação Sexual Programada
		.nav-footer-four
			h2 Doenças
			ul
				li
					a(href="#") Fertilização in Vitro / ICSI
				li
					a(href="#") Inseminação Artificial
				li
					a(href="#") Relação Sexual Programada
				li
					a(href="#") Transferência de embrião 
				li
					a(href="#") Doação de óvulos
		.nav-footer-four
			h2 Instagram
	.clearfix
	.copyright
		.gridD
			.left
				p © 2016. Todos os Direitos Reservados 	<span><i class="fa fa-heart" aria-hidden="true"></i></span>   <strong>Vida Bem Vinda</strong>
			.right
				.nav-copyright
					ul
						li
							a(href="#") Home
						li
							a(href="#") blog
						li
							a(href="#") Instituto

		.clearfix
	